/* CSS Home */
.Home {
    position: relative;
    height: 100vh; /* Altura total da viewport */
    /* background-image: url(); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.Home .overlay {
    flex: 1;
    background-image: var(--overlay);
    background-color: rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
}


h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem !important;
    color: #EEEEEE !important;
    text-align: center;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem !important;
    color: #EEEEEE !important;
    text-align: center;
}

@media (max-width: 768px) {
    .Home {
        height: 70vh; /* Reduz a altura em telas menores */
    }
}

@media (max-width: 480px) {
    .Home {
        height: 50vh; /* Reduz ainda mais a altura em telas muito pequenas */
    }
}


.titulo-h2 {
    font-size: 3rem !important;
    color: black !important;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sub-titulo-h3 {
    color: black !important;
    padding: 50px;
    font-size: 2rem !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* CSS Companias */
.companies-container {
    padding: 50px;
    background-color: white; /* Cor de fundo leve */
    text-align: center;
    margin-bottom: 10%;
}

.company-item {
    margin: 0 20px;
}

.company-logo {
    height: 100px;
    object-fit: contain;
}

/* Entre em contato */

.container-contact {
    margin-bottom: 20%;
}