.custom-navbar {
    background-color: #198754;
    min-height: 70px;
    justify-content: center !important;
    display: flex !important;
    flex-direction: column;
}
.nav-brand{
    color: aliceblue !important;
}
.nav-link {
    color: aliceblue !important;
}

/* Adicionar estilo para os itens do dropdown */
.nav-link:hover {
    background-color: rgba(204, 198, 188, 0.294);
    color: #198754;
    border-radius: 20px;
}
.nav-dropdown-item:hover {
    background-color: #198754 !important;
    color: white !important; /* Cor do texto ao passar o mouse */
}