.footer {
    background-color: var(--primary);
    /* padding: 20px 0; */
    position: relative; /* Usar relativo para que fique na ordem natural do fluxo do documento */
    bottom: 0; /* Fica sempre no final */
    left: 0;
    width: 100%;
    color: aliceblue;
    z-index: 2; /* Mantém o footer acima de outros conteúdos */
}

.footer h5, .footer p {
    font-weight: bold;
    color: aliceblue;
}

.footer a {
    text-decoration: none;
    color: aliceblue;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media Queries para ajustar a posição do footer com base nos breakpoints do Bootstrap */
@media (max-width: 575.98px) { /* X-Small */
    .footer {
        padding: 10px 0; /* Ajuste o padding */
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small */
    .footer {
        padding: 15px 0; /* Ajuste o padding */
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium */
    .footer {
        padding: 20px 0; /* Ajuste o padding */
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large */
    .footer {
        padding: 25px 0; /* Ajuste o padding */
    }
}

@media (min-width: 1200px) { /* Extra Large */
    .footer {
        padding: 30px 0; /* Ajuste o padding */
    }
}

@media (min-width: 1400px) { /* Extra Extra Large */
    .footer {
        padding: 35px 0; /* Ajuste o padding */
    }
}
