@import "bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(252, 252, 241);
}

:root {
    --primary:  #198754;
    --secondary: #EEEEEE;
    --overlay: linear-gradient(358.41deg, #198754 1.32%, rgba(73, 111, 93, 0) 98.65%);
}